section {
  background-color: var(--white);
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
}

/* Small screens */
@media screen and (max-width: 767px) {
  section {
    margin: 10px;
  }
}

/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    margin: 20px;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  section {
    margin: 30px;
  }
}
